<%- include('./partials/head.ejs', { cssFile: '/css/events.css' }) -%>

  <!-- The video -->
  <%- include('./partials/video.ejs') -%>

  <div class="text-header">
    <h1>Even<span class="red">ts</span></h1>
    <div class="container">
      <ul>
        <%  season.sort(); season.forEach((season, i) => {%>

        <a href="./seasons/<%= season.season %>/events">
          <li><%= season.season %></li>
        </a>
        <% }) %>
      </ul>
    </div>
    <div class="links">
      <a href='/'><i class="fa fa-3x fa-home" aria-hidden="true" title="Home"></i></a>
    </div>
  </div>
  
  <%- include('./partials/footerTags.ejs') -%>